h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
}

a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

body{
    font-family: Montserrat;
    font-weight: 400 ;
}


.header{
    background: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header__containier{
    padding: 40px 0 260px;
    text-align: center;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.nav-menu{
    max-width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-nemu__link{
    font-size: 14px;
    color: #fff;
    
}

.header__title{
    margin: 260px 0 33px;
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
}

.header__subtitle{
    font-family: "roboto slab";
    font-weight: 400;
    color: #fff;
    margin-bottom: 50px;
    
}

.header__btn{
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    padding: 17px 33px;
    border: 2px solid #fff;
    border-radius: 2px;
}

.services__container{
    padding: 100px 0;
}

.title{
    text-transform: uppercase;
    font-size: 20px;
    color: #555;
    text-align: center;
    position: relative;
    font-weight: 700;
    margin-bottom: 60px;
}

.title:after{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: #555;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.subtitle{
    text-align: center;
    font-family: "roboto-slab";
    font-weight: 400;
    font-size: 16px;
    color: #555;
    margin-bottom: 70px;
}

.services-icon{
    border-radius: 50%;
    border: 3px solid #dedede;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #c0311c;
    margin: 0 auto;
    transition: 0.5;
}

.col-xl-4:hover .services-icon{
    background: #c0311c;
    color: #fff;
}

.services__title{
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 25px;
    font-size: 14px;
    color: #555;
    font-weight: 700;
}

.services__subtitle{
    font-family: "roboto slab";
    font-size: 14px;
    color: #555;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.about{
    background: #f8f8f8;
}

.about__container{
    padding: 100px 0 ;
}

.about__text{
    font-family: "roboto slab";
    color: #555;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 70px;
}

.about-slider__img img{
    margin: 0 auto;
}

.about-slider__img{
    position: relative;
}

.about-slider__icons{
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.about-slider__icons a{
    width: 28px;
    height: 28px;
    display: inline-flex;
    font-size: 18px;
    color: #fff;
    justify-content: center;
   align-items: center;
   
}

.about-slider__icons a:hover{
    background: #c0311c;
}

.about-slider__img:hover .about-slider__icons{
    display: block;
}

.about-slider__title{
    text-transform: uppercase;
    margin: 20px 0 15px;
    font-size: 14px;
    color: #555;
    text-align: center;
    font-weight: 700;
}

.about-slider__subtitle{
    text-align: center;
    font-family: "roboto slab";
    font-weight: 400;
    font-size: 13px;
    color: #555;
}

.slick-prev,
.slick-next{
    width: 35px;
    height: 38px;
    font-size: 30px;
    background: #c1c1c1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    top: 106px;
    z-index: 5;
}


.about-slider__overlay{
    position: absolute;
    width: 263px;
    height: 250px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(85, 85, 85, 0.502);
    display: none;
}

.about-slider__img:hover .about-slider__overlay{
    display: block;
}

.slick-prev{
    left: 1%;
}

.slick-next{
    right: 1%;
}

.slick-prev:hover,
.slick-next:hover{
    background: #c0311c;
}


.works__container{
    padding: 100px 0 70px;
 
}

.nav-link{
    padding: 0 12px;
    border: none !important;
    border-radius: 0 !important;
    font-family: "roboto slab";
    font-weight: 400;
    font-size: 16px;
    color: #555;
}

.nav-link:hover{
    color: #555;
}

.nav-link.active{
    border: none;
    color: #c0301c !important;
}


.nav-tabs{
    border: none;
    justify-content: center;
    margin-bottom: 74px;
    
}

.works .col-xl-4{
    margin-bottom: 30px;
   
}

.works-tab__item{
    position: relative;
}

.view{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(192, 48, 28, 0.7);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.view__title{
    font-size: 18px;
    color: #fff !important;
    margin-bottom: 17px;
}

.view__subtitle{
    font-family: "roboto slab";
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin-bottom: 25px;
}

.view__btn{
    font-family: "roboto slab";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;   
    color: #c0301c;
    padding: 15px 20px;
    background: #fff;
}

.view__btn:hover{
    color: #c0301c;
}

.works .col-xl-4:hover .view{
    display: flex;
}

.talk{
    background: url(../images/call_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.talk__text{
    color: #fff;
    line-height: 44px;
    font-weight: 400;
    font-family: "roboto slab";
    font-size: 30px;
}

.talk__container{
    padding: 100px 0;
}

.talk__btn{
    display: inline-block;
    margin-top: 50px;
    font-family: "roboto slab";
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    padding: 16px 25px;
    border: 2px solid #fff;
    border-radius: 3px;
    
}

.talk__btn:hover{
    color: #fff;
}